<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性</title>
</head>
<script src="js/vue.js"></script>
<body>
<div class="root">
    <label>
        姓：<input type="text" v-model="firstName">
    </label><br>
    <label> 
        名：<input type="text" v-model="lastName">
    </label><br>
    <span>
        全名(computed方法)：{{fullNameOne}}
        <br>
        全名(methods方法)：{{fullNameTwo()}}
    </span>
</div>
</body>
<script>
    let vm = new Vue({
        el: ".root",
        data: {
            firstName: "刘",
            lastName: "岳"
        },
        methods: {
            fullNameTwo(){
                return this.firstName + " " + this.lastName
            }
        },
        computed:{
            //简写：没有set方法的情况下，可以给get简写成函数形式
            fullNameOne:function(){
                console.log("调用getter")
                return this.firstName + " " + this.lastName
            }
        }
    })
</script>
</html>