<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性</title>
</head>
<script src="js/vue.js"></script>
<body>
<div class="root">
    <label>
        姓：<input type="text" v-model="firstName">
    </label><br>
    <label>
        名：<input type="text" v-model="lastName">
    </label><br>
    <span>
        全名(computed方法)：{{fullNameOne}}
        <br>
        全名(methods方法)：{{fullNameTwo()}}
    </span>
</div>
</body>
<script>
    let vm = new Vue({
        el: ".root",
        data: {
            firstName: "刘",
            lastName: "岳"
        },
        methods: {
            fullNameTwo(){
                return this.firstName + " " + this.lastName
            }
        },
        computed:{
            fullNameOne:{
                //当有人读取fullName时候，get就会被调用，且返回值就是fullName的值
                //get什么时候被调用？ 1、初次读取fullName时候，会调用。  2、所依赖的数据发生变化时候。
                get(){
                    console.log("getter调用")
                    //vue把computed中的this封装好了->指向Vue实例，该get中的this指向上面的vm
                    return this.firstName + " "+ this.lastName
                },
                //非必须
                //set什么时候调用？fullName被修改时候
                set(value){
                    console.log("setter调用")
                    const arr = value.split(" ")
                    this.firstName = arr[0]
                    this.lastName = arr[1]
                }
            }
        }
    })
</script>
</html>